<%- include('../partials/header'); %>
    <%- include('../partials/top-header'); %>
        <%- include('./inc/sidebar'); %>

            <div class="page-content">
                <div class="container-fluid">

                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                <h4 class="mb-sm-0">admin</h4>

                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="javascript: void(0);">account</a></li>
                                        <li class="breadcrumb-item active">trades</li>
                                    </ol>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- end page title -->

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title mb-0 flex-grow-1">Trades</h4>
                                </div><!-- end card header -->

                                <div class="card-body">
                                    <table id="myTable" class="display">
                                        <thead>
                                            <tr>
                                                <th>_id</th>
                                                <th>Plan</th>
                                                <th>Tamount</th>
                                                <th>Minimum</th>
                                                <th>Profit</th>
                                                <th>Placed on</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% if(typeof trades !=='undefined' && trades !=="" && typeof
                                                trades==='object' ){ %>
                                                <% trades.forEach((doc)=> { %>
                                                    <tr>
                                                        <td><%- (typeof doc.data().trade_id !=='undefined' ) ?
                                                                doc.data().trade_id : '' ;
                                                                %></td>
                                                        <td><%- (typeof doc.data().plan !=='undefined' ) ?
                                                                doc.data().plan : '' ; %></td>
                                                        <td>$<%- (typeof doc.data().trade_amount !=='undefined' ) ?
                                                                doc.data().trade_amount : '' ; %></td>
                                                        <td><%- (typeof doc.data().minimum !=='undefined' ) ?
                                                                doc.data().minimum : '' ; %></td>
                                                        <td><%- (typeof doc.data().profit !=='undefined' ) ?
                                                                doc.data().profit : '' ; %></td>
                                                        <td><%- (typeof doc.data().started_on!=='undefined' ) ? doc.data().started_on : '' ;%></span>
                                                        </td>
                                                        <td>
                                                            <a href="/admin/trades/<%- (typeof doc.data().trade_id!=='undefined' ) ? doc.data().trade_id : '' ;%>" class="btn btn-success btn-sm">Liquidate</a>
                                                            <a href="javascript:void(0)" onclick="addProfitMod(`<%- (typeof doc.data().trade_id!=='undefined' ) ? doc.data().trade_id : '' ;%>`)" class="btn btn-primary btn-sm">Add Profit</a>
                                                        </td>
                                                    </tr>
                                                    <% }) %>
                                                        <% } else { %>
                                                            <h4>You have no item yet yet !</h4>
                                                            <% } %>

                                        </tbody>
                                    </table>
                                </div><!-- end card-body -->
                            </div><!-- end card -->
                        </div>
                        <!-- end col -->
                    </div>
                    <!-- end row -->



                </div>
                <!-- container-fluid -->
            </div>

            <div class="modal fade bs-example-modal-center" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-body text-center p-5">
                            <form action="/admin/trades" id="add-profit-form">
                                <label for="">Profit</label>
                                <input type="number" name="profit" id="profit" class="form-control">
                                <input type="hidden" name="tid" id="tid">
                                <div class="form-group mt-3">
                                    <button class="btn btn-primary">submit</button>
                                </div>
                            </form>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div>
            <!-- End Page-content -->
            <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />

            <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>
            <%- include('../partials/footer'); %>
                <script>
                    $(document).ready(function () {
                        $('#myTable').DataTable();
                    });
                </script>