<!doctype html>
<html lang="en" data-layout="vertical" data-topbar="light" data-sidebar="dark" data-sidebar-size="lg" data-sidebar-image="none" data-preloader="disable">

<head>

    <meta charset="utf-8" />
    <title>Base Project | <% if (typeof  page_title ==="string"){ %><%= page_title %><% } %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="" name="description" />
    <meta content="" name="author" />
    <%- meta %>
    <!-- App favicon -->
    <link rel="shortcut icon" href="/assets/images/favicon.ico">

    <!-- Layout config Js -->
    <script src="/assets/js/layout.js"></script>
    <!-- Bootstrap Css -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="/assets/css/app.min.css" rel="stylesheet" type="text/css" />
    <!-- custom Css-->
    <link href="/assets/css/custom.min.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="/css/base.css?v=<%= TEMPLATE_VERSION %>">
    <link rel="stylesheet" href="/css/style.css?v=<%= TEMPLATE_VERSION %>">
    <!-- Custom styles for this template End -->

    <!-- jQuerry -->
    <link rel="stylesheet" href="https://d3eist5doc7549.cloudfront.net/css/jquery-ui/1.13.2/jquery-ui.min.css">
    <link rel="stylesheet" href="https://d3eist5doc7549.cloudfront.net/css/jquery-ui/1.13.2/jquery-ui.theme.css">
    <!-- jQuerry End -->

    <!-- Wait Me Overlay -->
    <link rel="stylesheet" href="https://d3eist5doc7549.cloudfront.net/css/waitme/1.19/waitMe.min.css">
    <!-- Wait Me Overlay End -->

    <!-- Other Styles for this templates -->
    <% if ((typeof header_stylesheets !== 'undefined') && (header_stylesheets.length > 0) && Array.isArray(header_stylesheets)){ %>
        <% header_stylesheets.forEach(function(style){%>
            <link rel="stylesheet" href="<%= style %>?v=<%= TEMPLATE_VERSION %>">
        <% }) %>
    <% } %>
    <!-- Other Styles for this templates End -->

    <script>
        var errors = {};
        <% if (typeof _flash !== 'undefined' && Object.keys(_flash).length > 0) { %>
            errors = <%- JSON.stringify(_flash) %>;
        <% } %>
    </script>

    <%- style %>
</head>
    <body>

        <!-- main page content -->
        <div class="layout-content-wrapper">
            <%- body %>
        </div>


 <!-- JAVASCRIPT -->
 <script type="text/javascript" src="https://d3eist5doc7549.cloudfront.net/js/jquery/3.6.4/jquery.min.js"></script>
 <script src="/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
 <script src="/assets/libs/simplebar/simplebar.min.js"></script>
 <script src="/assets/libs/node-waves/waves.min.js"></script>
 <script src="/assets/libs/feather-icons/feather.min.js"></script>
 <script src="/assets/js/pages/plugins/lord-icon-2.1.0.js"></script>
 <script src="/assets/js/plugins.js"></script>

 <!-- particles js -->
 <script src="/assets/libs/particles.js/particles.js"></script>
 <!-- particles app js -->
 <script src="/assets/js/pages/particles.app.js"></script>
 <!-- password-addon init -->
 <script src="/assets/js/pages/password-addon.init.js"></script>

 <script type="text/javascript" src="https://d3eist5doc7549.cloudfront.net/js/waitme/1.19/waitMe.min.js"></script>
 <script type="text/javascript" src="https://d3eist5doc7549.cloudfront.net/js/underscore/1.13.6/underscore.min.js"></script>
 <script type="text/javascript" src="https://d3eist5doc7549.cloudfront.net/js/bootbox/6.0.0/bootbox.min.js"></script>

<!-- gridjs js -->
<script src="assets/libs/gridjs/gridjs.umd.js"></script>
<!-- gridjs init -->
<script src="assets/js/pages/gridjs.init.js"></script>

 <script src ="/js/common.js?v=<%= TEMPLATE_VERSION %>"></script>
 <script src ="/js/base.js?v=<%= TEMPLATE_VERSION %>"></script>
 <script src ="/js/main.js?v=<%= TEMPLATE_VERSION %>"></script>

 <% if ((typeof footer_scripts !== 'undefined') && (footer_scripts.length > 0) && Array.isArray(footer_scripts)){ %>
    <% footer_scripts.forEach(function(footer_script){%>
        <script src="<%= footer_script %>?v=<%= TEMPLATE_VERSION %>"></script>
    <% }) %>
<% } %>

<%- script %>
</body>


</html>