<%- include('../partials/header'); %>
<%- include('../partials/top-header'); %>
<%- include('../partials/sidebar'); %>


<div class="page-content">
    <div class="container-fluid">

        <div class="position-relative mx-n4 mt-n4">
            <div class="profile-wid-bg profile-setting-img">
    
            </div>
        </div>

        <div class="row">
            <div class="col-xxl-3">
                <div class="card mt-n5">
                    <div class="card-body p-4">
                        <div class="text-center">
                            <h5 class="fs-16 mb-1"><%= client_name %></h5>
                            <p class="text-muted mb-0"><%= username %> / $<%= balance %></p>
                        </div>
                    </div>
                </div>
                <!--end card-->
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-center mb-5">
                            <div class="flex-grow-1">
                                <h5 class="card-title mb-0">Complete Your Profile</h5>
                            </div>
                        </div>
                        <div class="progress animated-progress custom-progress progress-label">
                            <div class="progress-bar bg-danger" role="progressbar" style="width: <%= typeof user_details.profile_completion !== 'undefined' ? user_details.profile_completion : 20 %>%" aria-valuenow="<%= typeof user_details.profile_completion !== 'undefined' ? user_details.profile_completion : 20 %>" aria-valuemin="0" aria-valuemax="100">
                                <div class="label"><%= typeof user_details.profile_completion !== 'undefined' ? user_details.profile_completion : 20 %>%</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end card-->
            </div>
            <!--end col-->
            <div class="col-xxl-9">
                <div class="card mt-xxl-n5">
                    <div class="card-header">
                        <ul class="nav nav-tabs-custom rounded card-header-tabs border-bottom-0" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-bs-toggle="tab" href="#personalDetails" role="tab">
                                    <i class="fas fa-home"></i> Personal Details
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#changePassword" role="tab">
                                    <i class="far fa-user"></i> Change Password
                                </a>
                            </li>
                            
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#privacy" role="tab">
                                    <i class="far fa-envelope"></i> Privacy Policy
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body p-4">
                        <div class="tab-content">
                            <div class="tab-pane active" id="personalDetails" role="tabpanel">
                                <form id="profile-form" action="/secure/profile">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label for="firstnameInput" class="form-label">First Name</label>
                                                <input type="text" class="form-control" id="firstnameInput" placeholder="Enter your firstname" value="<%= user_details.firstname %>" readonly>
                                            </div>
                                        </div>
                                        <!--end col-->
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label for="lastnameInput" class="form-label">Last Name</label>
                                                <input type="text" class="form-control" id="lastnameInput" placeholder="Enter your lastname" value="<%= user_details.lastname %>" readonly>
                                            </div>
                                        </div>
                                        <!--end col-->
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label for="phonenumberInput" class="form-label">Phone Number</label>
                                                <input type="text" class="form-control" name="phone" id="phone" placeholder="Enter your phone number" value="<%= typeof user_details.phone !== 'undefined' ? user_details.phone : '' %>">
                                            </div>
                                        </div>
                                        <!--end col-->
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label for="emailInput" class="form-label">Email Address</label>
                                                <input type="email" class="form-control" id="emailInput" placeholder="Enter your email" value="<%= typeof user_details.email !== 'undefined' ? user_details.email : '' %>" readonly>
                                            </div>
                                        </div>
                                       
                                        <!--end col-->
                                        <div class="col-lg-4">
                                            <div class="mb-3">
                                                <label for="cityInput" class="form-label">City</label>
                                                <input type="text" class="form-control" name="city" id="city" placeholder="City" value="<%= typeof user_details.city !== 'undefined' ? user_details.city : '' %>" />
                                            </div>
                                        </div>
                                        <!--end col-->
                                        <div class="col-lg-4">
                                            <div class="mb-3">
                                                <label for="countryInput" class="form-label">Country</label>
                                                <input type="text" class="form-control" name="country" id="country" placeholder="Country" value="<%= typeof user_details.country !== 'undefined' ? user_details.country : '' %>" />
                                            </div>
                                        </div>
                                        <!--end col-->
                                        <div class="col-lg-4">
                                            <div class="mb-3">
                                                <label for="zipcodeInput" class="form-label">Zip Code</label>
                                                <input type="text" class="form-control" minlength="5" maxlength="6" name="zipcode" id="zipcode" placeholder="Enter zipcode" value="<%= typeof user_details.zipcode !== 'undefined' ? user_details.zipcode : '' %>">
                                            </div>
                                        </div>
                                        
                                        <!--end col-->
                                        <div class="col-lg-12">
                                            <div class="hstack gap-2 justify-content-end">
                                                <button type="submit" class="btn btn-primary">Update</button>
                                            </div>
                                        </div>
                                        <!--end col-->
                                    </div>
                                    <!--end row-->
                                </form>
                            </div>
                            <!--end tab-pane-->
                            <div class="tab-pane" id="changePassword" role="tabpanel">
                                <form id="change-password-form" action="/secure/profile/password">
                                    <div class="row g-2">
                                        <div class="col-lg-4">
                                            <div>
                                                <label for="oldpasswordInput" class="form-label">Old Password*</label>
                                                <input type="password" class="form-control" name="oldpassword" id="oldpassword" placeholder="Enter current password">
                                            </div>
                                        </div>
                                        <!--end col-->
                                        <div class="col-lg-4">
                                            <div>
                                                <label for="newpasswordInput" class="form-label">New Password*</label>
                                                <input type="password" class="form-control" name="newpassword" id="newpassword" placeholder="Enter new password">
                                            </div>
                                        </div>
                                        <!--end col-->
                                        <div class="col-lg-4">
                                            <div>
                                                <label for="confirmpasswordInput" class="form-label">Confirm Password*</label>
                                                <input type="password" class="form-control" name="confirmpassword" id="confirmpassword" placeholder="Confirm password">
                                            </div>
                                        </div>
                                        
                                        <!--end col-->
                                        <div class="col-lg-12">
                                            <div class="text-end">
                                                <button type="submit" class="btn btn-success">Change Password</button>
                                            </div>
                                        </div>
                                        <!--end col-->
                                    </div>
                                    <!--end row-->
                                </form>
                               
                            </div>
                           
                            <!--end tab-pane-->
                            <div class="tab-pane" id="privacy" role="tabpanel">
                                <div class="mb-4 pb-2">
                                    <h5 class="card-title text-decoration-underline mb-3">Security:</h5>
                                    <div class="d-flex flex-column flex-sm-row mb-4 mb-sm-0">
                                        <div class="flex-grow-1">
                                            <h6 class="fs-14 mb-1">Two-factor Authentication</h6>
                                            <p class="text-muted">Two-factor authentication is an enhanced security meansur. Once enabled, you'll be required to give two types of identification when you log into your account.</p>
                                        </div>
                                        <div class="flex-shrink-0 ms-sm-3">
                                            <% if(typeof user_details.settings !== 'undefined' && typeof user_details.settings.using_2fa !== 'undefined' &&  user_details.settings.using_2fa === 'Yes'){ %>
                                                <a id="disable_two_factor" action="/secure/profile/settings_2fa_disable" href="javascript:void(0);" class="btn btn-sm btn-danger">Disable Two-factor Authentication</a>
                                            <% } else { %>
                                                <a id="enabled_two_factor" action="/secure/profile/settings_2fa" href="javascript:void(0);" class="btn btn-sm btn-primary">Enable Two-factor Authentication</a>
                                            <% } %>
                                        </div>
                                    </div>
                                    
                                    <div class="d-flex flex-column flex-sm-row mb-4 mb-sm-0 mt-2">
                                        <div class="flex-grow-1">
                                            <h6 class="fs-14 mb-1">Backup Codes</h6>
                                            <p class="text-muted mb-sm-0">A backup code is automatically generated for you when you turn on two-factor authentication.</p>
                                        </div>
                                        <div class="flex-shrink-0 ms-sm-3">
                                            <a href="javascript:void(0);" class="btn btn-sm btn-primary">Generate backup codes</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <h5 class="card-title text-decoration-underline mb-3">Application Notifications:</h5>
                                <form action="/secure/profile/settings_notification" id="notification-form">
                                    <ul class="list-unstyled mb-0">
                                       
                                        <li class="d-flex mt-2">
                                            <div class="flex-grow-1">
                                                <label class="form-check-label fs-14" for="emailNotification">
                                                    Show email notifications
                                                </label>
                                            </div>
                                            <div class="flex-shrink-0">
                                                <div class="form-check form-switch">
                                                    <input class="form-check-input" <%- (typeof user_details.settings !== 'undefined' && typeof user_details.settings.email_notification !== 'undefined' &&  user_details.settings.email_notification === 'Yes') ? 'checked' : '' %> name="emailNotification" type="checkbox" role="switch" id="emailNotification" />
                                                </div>
                                            </div>
                                        </li>
                                        <li class="d-flex mt-2">
                                            <div class="flex-grow-1">
                                                <label class="form-check-label fs-14" for="chatNotification">
                                                    Get withdrawal email notifications
                                                </label>
                                            </div>
                                            <div class="flex-shrink-0">
                                                <div class="form-check form-switch">
                                                    <input class="form-check-input" <%- (typeof user_details.settings !== 'undefined' && typeof user_details.settings.withdrawal_email !== 'undefined' &&  user_details.settings.withdrawal_email === 'Yes') ? 'checked' : '' %> name="withdrawalNotification" type="checkbox" role="switch" id="withdrawalNotification" />
                                                </div>
                                            </div>
                                        </li>
                                        <li class="d-flex mt-2">
                                            <div class="flex-grow-1">
                                                <label class="form-check-label fs-14" for="purchaesNotification">
                                                    Show deposit email notifications
                                                </label>
                                            </div>
                                            <div class="flex-shrink-0">
                                                <div class="form-check form-switch">
                                                    <input class="form-check-input" <%- (typeof user_details.settings !== 'undefined' && typeof user_details.settings.deposit_email !== 'undefined' &&  user_details.settings.deposit_email === 'Yes') ? 'checked' : '' %> name="depositNotification" type="checkbox" role="switch" id="depositNotification" />
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </form>
                                </div>
                                <div>
                                    <h5 class="card-title text-decoration-underline mb-3">Delete This Account:</h5>
                                    <div>
                                        <input type="password" class="form-control" id="passwordInput" placeholder="Enter your password" value="make@321654987" style="max-width: 265px;">
                                    </div>
                                    <div class="hstack gap-2 mt-3">
                                        <a onclick="return alert('Kindly reach out to the admin or your account manager.')" href="javascript:void(0);" class="btn btn-soft-danger">Close & Delete This Account</a>
                                    </div>
                                </div>
                            </div>
                            <!--end tab-pane-->
                        </div>
                    </div>
                </div>
            </div>
            <!--end col-->
        </div>
        <!--end row-->

    </div>
    <!-- container-fluid -->
</div><!-- End Page-content -->

<%- include('../partials/footer'); %>